on fs
    setprop ro.product.model TA-1012
    setprop ro.product.name TA-1012_00WW
    setprop ro.product.vendor.model TA-1012
    setprop ro.product.vendor.name TA-1012_00WW
on fs
    setprop ro.camera.shuttersound.skuid 600ID

on fs
	setprop ro.build.fingerprint Nokia/TA-1012_00WW/NB1:9/PPR1.180610.011/00WW_5_16A:user/release-keys
	setprop ro.build.description "TA-1012_00WW-user 9 PPR1.180610.011 00WW_5_16A release-keys"
